body {
    margin: 2%;
    background-color:#7C73AA;
}


.header{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.profile {
    color:blue;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.classes {
    margin: 8px 0 8px 10%;
    color:blue;
    font-size: 20px;
    font-style: oblique;
}

.imges {
    margin: -8px 0 0 10%;
}